{% extends 'base.html' %}

{% block js %}
  <script type="text/javascript" src="/static/js/script.js"></script>
{% endblock %}

{% block css %} 

{% endblock %}

{% block content %}
  <div id="app" class="container top-padding">
    
  
    <div id='dialogue-container'>
      <div class='dialogue dialogue-bot'>
        Hello! What would you like me to remind you about?
      </div>
    </div>

    <form id='chat-box'>
        <input type='text' id='chat-user' name='chat-user' placeholder='Talk to me'>
        <input type='submit' id='chat-submit' value='↑'>
    </form>

    <audio id='audio-player'>
      <source src="/media/hello.wav" type="audio/wav">
    </audio>

  </div>

{% endblock %}

